# //npm.pkg.github.com/:_authToken=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
# @bh-ent-tech:registry=https://npm.pkg.github.com/

# @bentlynevada-bh:registry=https://npm.pkg.github.com/
# @bh-ent-tech:registry=https://npm.pkg.github.com/
# @OWNER:registry=https://npm.pkg.github.com/
# @sparq:registry=https://artifactory.ops.bhge.ai/artifactory/api/npm/npm/
# @bakerhughes:registry=https://artifactory.ops.bhge.ai/artifactory/api/npm/npm/
# @preemptive:registry=https://artifactory.ops.bhge.ai/artifactory/api/npm/npm/


registry=https://registry.npmjs.org/
@bh-digitalsolutions:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
NODE_TLS_REJECT_UNAUTHORIZED=0
strict-ssl=false