<div>
    <bh-modal
    id="sb--modal"
    header="Enter Case Details"
    subheader=""
    width="large"
    [ctas]="modalCtas"
    dismissible="true"
    [isOpen]="isOpen"
    (bhEventClose)="closeModalOfForm()"
    (bhEventCtaClick)="selectSaveOrReset($event)"
    >
  
    <div class="bh-grid">
  
      <div class="bh-col-4_md-4_sm-4">
        <bh-text-input type=text id='text-input-co2' required fluid label="Case Name" [isError]="errorCasename" [message]="validCasename" placeholder="for e.g. Case 1" maxlength="60" [(ngModel)]="casename" (bhEventInput)="casenameAndInsightsInputs($event, 'casename')"></bh-text-input>
      </div>  
  
      <div class="bh-col-4_md-4_sm-4">
         <bh-dropdown style="display: block;" isRequired=true (bhEventSelected)="priorityAndStatusDropdown($event)" [(ngModel)]="priority" menu-items='{"itemGroups":[{"items":[{"label":"High", "value":"tearsheet--bh-menu--item-1-high"},{"label":"Medium","value":"tearsheet--bh-menu--item-1-medium"},{"label":"Low","value":"tearsheet--bh-menu--item-1-low"}],"divider":false}]}' width="inherit" searchable="false" unselectable="false" multiselect="false" searchMode="contains" selectall="false" label="Priority" placeholder="Select" showall-label="all" flip-offset=50></bh-dropdown>
      </div>
  
      <div class="bh-col-4_md-4_sm-4">
        <bh-text-input type=text undefined required dundefine readonly=false label="Type" placeholder="" value="General" maxlength="60" pattern="undefined" disabled="true" false false false false></bh-text-input>
      </div>
    </div>
    
    <div class="bh-grid">
      <div class="bh-col-4_md-4_sm-4">
        <bh-dropdown (bhEventSelected)="priorityAndStatusDropdown($event)" isRequired=true [(ngModel)]="status" menu-items='{"itemGroups":[{"items":[{"label":"Open","value":"tearsheet--bh-menu--item-1-open"},{"label":"Closed","value":"tearsheet--bh-menu--item-1-closed"}],"divider":false}]}' width="inherit" searchable="false" unselectable="false" multiselect="false" searchMode="contains" label="Status" placeholder="Select" inline="false"   showall-label="all" flip-offset=50></bh-dropdown>
      </div>
  
      <div class="bh-col-4_md-4_sm-4">
         <bh-date-picker label='Open Date' isRequired=true (bhEventChange)="dateOrCheckbox($event, 'date')" [(ngModel)]="opendate" [value]="opendate" readonly=false invalid=false required=false error-message='Error message' disable-helper='false' [reset]='resetDate' disable-user-input='false' disabled='false' ></bh-date-picker>
        <br>
      </div>
  
      <div class="bh-col-4_md-4_sm-4">
        <!-- <p>Contributing case</p> -->
        <bh-checkbox label="Contributing Case" (bhEventChange)="dateOrCheckbox($event, 'checkbox')" message="" [(ngModel)]="editContributing" [isChecked]="editContributing" value="Contributing Case" false false false false style="padding: 10px;"></bh-checkbox>
      </div>
    </div>
    <br>
    <div class="bh-grid">
      <div class="bh-col-12">
        <bh-title-wrapper type="subtitle" header="Provide Insights" subtext=""></bh-title-wrapper>
      </div>
    </div>
    <div class="bh-grid">
      <div class="bh-col-3_sm-3_sm-3">
        <bh-text-input type=number (bhEventInput)="casenameAndInsightsInputs($event, 'co2')" [isError]="errorCo2" [message]="validCo2" required [(ngModel)]="co2" undefined fluid undefined small readonly=false label="CO2" placeholder="" value="" message="" maxlength="5" false false false false></bh-text-input>
      </div>
  
      <div class="bh-col-3_sm-3_sm-3">
        <bh-text-input type=number (bhEventInput)="casenameAndInsightsInputs($event, 'h2o')" [isError]="errorH2o" [message]="validH2o" required [(ngModel)]="h2o" undefined fluid undefined small readonly=false label="H2O" placeholder="" value="" message="" maxlength="5" false false false false></bh-text-input>
      </div>
  
      <div class="bh-col-3_sm-3_sm-3">
        <bh-text-input type=number (bhEventInput)="casenameAndInsightsInputs($event, 'o2')" [isError]="errorO2" [message]="validO2" required [(ngModel)]="o2" undefined fluid undefined small readonly=false label="O2" placeholder="" value="" message="" maxlength="5" false false false false></bh-text-input>
      </div>
  
      <div class="bh-col-3_sm-3_sm-3">
        <bh-text-input type=number (bhEventInput)="casenameAndInsightsInputs($event, 'n2')" [isError]="errorN2" [message]="validN2" [(ngModel)]="n2" required undefined fluid undefined small readonly=false label="N2" placeholder="" value="" message="" maxlength="5" false false false false></bh-text-input>
      </div>
    </div>
  </bh-modal>
  </div>