.diagrams {
    display: flex;
    width: 100%;
    height: 240px;
    gap: 10px;
    margin-top: 18px;
  }

.card {
width: 25%;
height: 238px;
}

.head {
    font-family: "poppins";
    font-weight: 450;
    font-size: 11px;
    line-height: 3px;
  }
  ::ng-deep .body {
    font-family: "poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
  }
  
.headers {
position: relative;
    width: 105%;
    height: 29px;
    gap: 7px;
    display: flex;
    padding-bottom: 15px;
}

::ng-deep .bh-donut-chart-wrapper.horizontal {
  display: flex;
  width: 36%;
}

::ng-deep .bh-donut-chart--legend {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  gap: 2%;
  /* flex-wrap: wrap; */
}

::ng-deep .bh-donut-chart--legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

::ng-deep .body {
    font-family: "poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
  }

::ng-deep .bh-donut-chart--horizontal-layout-legend-group {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  padding-left:  6%; ;
  /* border: 1px solid; */
}

::ng-deep .bh-donut-chart--horizontal-layout-legend-group .bh-donut-chart--legend {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
}

.bh-donut-chart-horizontal{
    height: 120px;
}

::ng-deep .bh-card--header-left-container {
    display: flex;
    align-items: center;
    padding-left: 1%;
  }

.bh-donut-chart--horizontal-layout-legend-group  {
display: flex;
margin-top: 0;
align-items: center;
}
.bh-donut-chart--legend{
display: flex;
margin-top: 0;
flex-direction: column;
border: 1px solid blue;
gap: 5px;
}

.img {
    width: 80%;
    height: 60%;
    padding-left: 10%;
  }